.result {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 500px;
}

.card {
  width: 200px;
  margin: 20px;
}

.card-image {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.btn {
  margin-left: 30px;
  background-color: lightskyblue;
  border: 2px solid silver;
  border-radius: 5px;
}